/* Reset CSS */
/*--------------------------------*/
/* Resetting default browser styles */
/*--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
    background-color: #F2F0EB;
}

main {
    margin-bottom: 6%;
}

/* Default styles */
header {
    max-width: 60%;
    margin: 12% auto 6% auto; /* Center vertically and horizontally */
    font-size: 1em;
    color: #0D0D0D;
}

h1 {
    font-weight: normal;
    color: #0D0D0D;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-weight: normal;
    color: #0D0D0D;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.3em;
    text-decoration: underline;
    font-weight: normal;
    color: #0D0D0D;
}

.projects {
    margin-top: 2em;
}

p {
    line-height: 1.6;
    color: #0D0D0D;
}

.line {
    max-width: 100%;
    height: 1px;
    background-color: #0D0D0D;
}

a {
    text-decoration: none;
}

a:link {
    color: #0D0D0D;
}

a:visited {
    color: #0D0D0D;
}

a:hover {
    color: #033E8C;
    cursor: pointer;
}

a:active {
    color: #6D80A6;
}

section {
    max-width: 46%; /* Smaller for larger screens */
    margin-left: calc((100% - 60%) / 2); /* Calculate left margin based on header's max-width */
}

footer {
    margin-left: calc((100% - 60%) / 2); /* Calculate left margin based on header's max-width */
    margin-bottom: 2em;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    header {
        max-width: 90%;
        font-size: 0.8em;
    }

    section {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
    }

     footer {
        margin-left: 5%;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 480px) {
    /* Further adjust styles for even smaller screens */
    header {
        font-size: 0.8em;
    }

    section {
        font-size: 0.9em;
    }
